spring:
  config:
    import: optional:file:.env.properties
  application:
    name: hostelCare

  datasource:
    url: jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

frontend:
  allowed-domains: ${FRONTEND_DOMAINS}

api:
  version: ${API_VERSION}
