server:
  port: ${API_PORT:8080}
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: ${APP_NAME}
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: mistral:latest
          temperature: 0.4
          top-p: 0.9
          num-predict: 120

  jackson:
    default-property-inclusion: non_null

  config:
    import: optional:file:.env.properties

  datasource:
    url: jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?sslmode=require
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 300000
      max-lifetime: 900000
      keepalive-time: 300000
      validation-timeout: 5000
      connection-timeout: 30000

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    open-in-view: false


  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true


elastic:
  api-key: ${ELASTIC_EMAIL_API_KEY}
  from-email: ${ELASTIC_EMAIL_FROM_EMAIL}
  from-name: ${ELASTIC_EMAIL_FROM_NAME}

frontend:
  allowed-domains: ${FRONTEND_DOMAINS}

api:
  version: ${API_VERSION}

admin:
  email: ${HOSTELCARE_ADMIN_EMAIL}
  password: ${HOSTELCARE_ADMIN_PASSWORD}
  app:
    seed-admin: true
    storage:
      local:
        base-path: ./uploads
        base-url: ${BASE_URL}

jwt:
  secret-key: ${JWT_SECRET_KEY}
  access-token-expiration-ms: ${ACCESS_TOKEN_EXPIRATION}
  refresh-token-expiration-ms: ${REFRESH_TOKEN_EXPIRATION}

firebase:
  project-id: ${FIREBASE_PROJECT_ID}
  client-email: ${FIREBASE_CLIENT_EMAIL}
  private-key-id: ${FIREBASE_PRIVATE_KEY_ID}
  private-key: ${FIREBASE_PRIVATE_KEY}
  client-id: ${FIREBASE_CLIENT_ID}
  auth-uri: ${FIREBASE_AUTH_URI}
  token-uri: ${FIREBASE_TOKEN_URI}
  auth-provider-x509-cert-url: ${FIREBASE_AUTH_PROVIDER_X509_CERT_URL}
  client-x509-cert-url: ${FIREBASE_CLIENT_X509_CERT_URL}

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}

stripe:
  secret-key: ${STRIPE_API_KEY}

swagger:
    server:
      local: http://localhost:8080
      prod: https://api.hostelcare.com

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics,prometheus,loggers
  endpoint:
    health:
      probes:
        enabled: true
      show-details: when_authorized
  info:
    env:
      enabled: true

http:
    client:
      connect-timeout: 10s
      read-timeout: 120s

logging:
  level:
    org.springframework.boot.context: DEBUG
    org.springframework.boot.web.embedded.tomcat: INFO
    org.springframework.boot.web.servlet.context: INFO
    org.springframework.context: INFO
