server:
  port: ${API_PORT}
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: ${APP_NAME}

  jackson:
    default-property-inclusion: non_null

  config:
    import: optional:file:.env.properties

  datasource:
    url: jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true


  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

frontend:
  allowed-domains: ${FRONTEND_DOMAINS}

api:
  version: ${API_VERSION}

admin:
  email: ${HOSTELCARE_ADMIN_EMAIL}
  password: ${HOSTELCARE_ADMIN_PASSWORD}
  app:
    seed-admin: false
    storage:
      local:
        base-path: ./uploads
        base-url: ${BASE_URL}

jwt:
  secret-key: ${JWT_SECRET_KEY}
  access-token-expiration-ms: ${ACCESS_TOKEN_EXPIRATION}
  refresh-token-expiration-ms: ${REFRESH_TOKEN_EXPIRATION}

firebase:
  project-id: ${FIREBASE_PROJECT_ID}
  client-email: ${FIREBASE_CLIENT_EMAIL}
  private-key-id: ${FIREBASE_PRIVATE_KEY_ID}
  private-key: ${FIREBASE_PRIVATE_KEY}
  client-id: ${FIREBASE_CLIENT_ID}
  auth-uri: ${FIREBASE_AUTH_URI}
  token-uri: ${FIREBASE_TOKEN_URI}
  auth-provider-x509-cert-url: ${FIREBASE_AUTH_PROVIDER_X509_CERT_URL}
  client-x509-cert-url: ${FIREBASE_CLIENT_X509_CERT_URL}

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}

